In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv ('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [3]:
data.head()
#show preview of the data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
#Showing the important detail about the food data
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
# Select columns 'Y2017' and 'Area' column, perform a groupby opertion on which areas had the 7th lowest tearm
new_table = data[['Y2017', 'Area']]
newcolumn = new_table.groupby('Area').sum().reset_index()
sort_sum = newcolumn.sort_values(by='Y2017')
seventh_lowest_sum_area = sort_sum.index[6]
print("The area with the 7th lowest sum in 2017 is:", seventh_lowest_sum_area)

The area with the 7th lowest sum in 2017 is: 21

In [6]:
# Which year has the list correlation coefficient with 'element code'

#Iterate over each year columm
for year_column in data.columns[data.columns.str.startswith('Y')]:
    correlation = data['Element Code'].corr(data[year_column])
    element_code_corr = correlation
# Find the year with the minimum correlation coefficient
min_corr_year = min(element_code_corr, key=element_code_corr)
min_corr_value = element_code_corr[min_corr_year]

print("Answer is:", min_corr_year)

TypeError: 'numpy.float64' object is not iterable

In [6]:
#What is the total number of the sum of processing in 2017

processing_2017 = data[data['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()
print( "Anwer:", processing_2017)

Anwer: Element
Processing    292836.0
Name: Y2017, dtype: float64

In [7]:
#Total protein supply

total_protain_supply = data[(data['Area'] == 'Madagascar') & (data['Element Code'] == 'protein supply quantity (g/capital/day)')]['Y2015'].sum()
print('total_protain_supply')

total_protain_supply

In [8]:
#view rows with madagasca 

madagasa = data[data['Area'] == 'Madagascar']
print (madagasa)

       Area Code        Area  Item Code           Item  Element Code  \
30715        129  Madagascar       2501     Population           511
30716        129  Madagascar       2501     Population          5301
30717        129  Madagascar       2901    Grand Total           664
30718        129  Madagascar       2901    Grand Total           674
30719        129  Madagascar       2901    Grand Total           684
...          ...         ...        ...            ...           ...
32149        129  Madagascar       2899  Miscellaneous          5142
32150        129  Madagascar       2899  Miscellaneous           645
32151        129  Madagascar       2899  Miscellaneous           664
32152        129  Madagascar       2899  Miscellaneous           674
32153        129  Madagascar       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
30715           Total Population - Both sexes     1000 persons  23590.00
30716                Domestic supply quantity      1000 tonnes      0.00
30717           Food supply (kcal/capita/day)  kcal/capita/day   1986.00
30718  Protein supply quantity (g/capita/day)     g/capita/day     44.45
30719      Fat supply quantity (g/capita/day)     g/capita/day     22.18
...                                       ...              ...       ...
32149                                    Food      1000 tonnes     10.00
32150     Food supply quantity (kg/capita/yr)               kg      0.44
32151           Food supply (kcal/capita/day)  kcal/capita/day      0.00
32152  Protein supply quantity (g/capita/day)     g/capita/day      0.01
32153      Fat supply quantity (g/capita/day)     g/capita/day      0.01

          Y2015     Y2016     Y2017     Y2018
30715  24234.00  24894.00  25571.00  26262.00
30716      0.00      0.00      0.00      0.00
30717   1922.00   1918.00   1943.00   1938.00
30718     43.26     43.35     43.94     44.17
30719     22.97     23.83     25.26     24.12
...         ...       ...       ...       ...
32149     11.00     11.00     11.00     12.00
32150      0.44      0.44      0.44      0.44
32151      0.00      0.00      0.00      0.00
32152      0.01      0.01      0.01      0.01
32153      0.01      0.01      0.01      0.01

[1439 rows x 12 columns]

In [9]:
#wine production

wine_production = data[data['item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()

print("Total sum of Wine produced in 2015:", wine_production['

SyntaxError: unterminated string literal (detected at line 5) (1639341140.py, line 5)

In [10]:
#Reseting index
df = data.iloc[:19000].reset_index(drop = True)
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [11]:
#What is the total Sum of wine production in 2015 & 2018

wine_production = data[data['Item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()
print( "Total sum of wine produced in 2015:", wine_production['Y2015'].values[0])
print( "Total sum of wine produced in 2018:", wine_production['Y2018'].values[0])

Total sum of wine produced in 2015: 4251.81
Total sum of wine produced in 2018: 4039.32

In [12]:
#What is the total Number of unique countries in the dataset

Total_countries =len(np.unique(data['Area']))
print(Total_countries)

49

In [13]:
#  What is the percentage of missing data in 2014

missing_entries_2014 = data['Y2014'].shape[0]
print(missing_entries_2014)

60943

In [14]:
# Total numbers of unique countries

unique_countries = data['Area'].nunique()
print(unique_countries)

49

In [15]:
# Which of these area has the hightest sum in 2017

selected_columns = data[['Y2017', 'Area']]
grouped = selected_columns.groupby('Area').sum()
area = grouped.idxmax()[0]
print(area)

Nigeria