In [2]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv ('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [4]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [9]:
#Showing the important detail about the food data
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [26]:
# Select columns 'Y2017' and 'Area' column, perform a groupby opertion on which areas had the 7th lowest tearm
new_table = data[['Y2017', 'Area']]
newcolumn = new_table.groupby('Area').sum().reset_index()
sort_sum = newcolumn.sort_values(by='Y2017')
seventh_lowest_sum_area = sort_sum.index[6]
print("The area with the 7th lowest sum in 2017 is:", seventh_lowest_sum_area)

TypeError: 'int' object is not callable

In [41]:
df = data[['Y2017', 'Area']]
grouped = df.groupby('Area').sum().reset_index()
Sort_value = grouped.sort_values(by='Y2017')
lowest = Sort_value.iloc[6]
seven_lowest_sum = lowest['Y2017']
Print (seven_lowest_sum)

TypeError: 'numpy.float64' object is not callable

In [45]:
#Total protein supply
total_protain_supply = df[(df['Area'] == 'Madagascar') & (df['Element Code'] == 'protein supply quantity (g/capital/day)')]['Y2015'].sum()
print('total_protain_supply')

KeyError: 'Element Code'

In [ ]:
#wine production

wine_production = data[data['item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()

print("Total sum of Wine produced in 2015:", wine_production['

In [13]:
#Reseting index
df = data.iloc[:19000].reset_index(drop = True)
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [30]:
#What is the total Number of unique countries in the dataset

Total_countries =len(np.unique(data['Area']))
print = Total_countries

In [7]:
gg = grougby

NameError: name 'grougby' is not defined

In [11]:
discribe(data)

NameError: name 'discribe' is not defined

In [15]:
lolo = np.mean(data)

TypeError: unsupported operand type(s) for +: 'int' and 'str'